$ibr: 4px; // Border radius for inputs

.ant-layout {
  background: #ffffff;
}

.ant-layout-footer {
  background: #F9944B;
}

body {
  background-color: #ffffff!important;
  margin:0 auto;
}

.ant-layout-header {
  background: none;
}
