$primary-color-faded: #ecf0fc;
$primary-color-light: #9cafec;
$primary-color: #4f71df;
$primary-color-darker: #3b61db; 
$primary-color-darkest: #2f4eaf;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$header-height: 64px;
$dark-color: #001529;